# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Rust
server/target/
**/*.rs.bk

# SurrealDB
database/
*.surreal

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Логи
*.log